<html>
  <head>
    <style>
      body, html {margin: 0px;padding: 5px; background: rgb(32, 34, 39);}
      .username {font-weight: bold; margin-right: 5px}
      .message_container_p {line-break: normal; display: inline;}
      #chat_container {overflow: none;}
      .message_div {color: snow; width:100%;}
      ::-webkit-scrollbar {display: none}
    </style>
    <script type="text/javascript" src="emotes.js">
    </script>
    <script>
      function replace_emotes(message) {
        var m=message;
        for (let [key, value] of Object.entries(emotes)) {
           m=m.replaceAll(key, `<img height="15" src="emotes/${value.emote_file}">`)
        }
        return m;
      }

      function add_message(username, message, platform, ) {
        horizontal=document.createElement('div');
        horizontal.classList.add("horizontal_container");
        message_div=document.createElement('div');
        message_div.classList.add('message_div');
        

        horizontal.appendChild(message_div);
        message_container_p=document.createElement('p');
        message_container_p.classList.add('message_container_p')

        username_span=document.createElement('span');
        username_span.classList.add('username');

        if (typeof platform === "undefined") {
          username_span.innerHTML= username;
        } else {
          username_span.innerHTML= `${username}[${platform}]`;
        }

        message_span=document.createElement('span');
        message_span.innerHTML=replace_emotes(message);

        message_container_p.appendChild(username_span);
				message_container_p.appendChild(message_span);

        message_div.appendChild(message_container_p);
        chat_container=document.getElementById('chat_container').appendChild(horizontal);

        if (document.getElementById('chat_container').offsetHeight>=1000) {
          var div = document.getElementById('chat_container');
          while (document.getElementById('chat_container').offsetHeight>=1000) {
            if (div.firstElementChild) {
                div.firstElementChild.remove();
            }
          }
        }

      }


    </script>
  </head>
  <body>
	 <div id="chat_container">
	 </div>
  </body>
</html>

